{
    "development": {
      "username": "root",
      "password": null,
      "database": "qbdev",
      "storage": "./db/qbdev.sqlite",
      "host": "127.0.0.1",
      "dialect": "sqlite"
    },
    "test": {
      "username": "root",
      "password": null,
      "database": "qbtest",
      "storage": "./db/qbtest.sqlite",
      "host": "127.0.0.1",
      "dialect": "sqlite"
    },
    "production": {
      "username": "root",
      "password": null,
      "database": "qbprod",
      "storage": "./db/qbprod.sqlite",
      "host": "127.0.0.1",
      "dialect": "sqlite"
    }
  }
